:root {
  --crimson: #e31627;
  --dark: #343a40;
  --gray: #eeeeee;
}

html, body {
  background-color: var(--gray);
}

.navbar-toolbox {
  background-color: var(--crimson);
}

.form-control:focus {
  border-color: var(--dark);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

.logger {
  .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);
    margin: 0;
  }
}